@model IEnumerable<SimpleERP.MVC.Models.OrderViewModel>
@using SimpleERP.MVC.Extensions;
@using Microsoft.Extensions.Options;
@inject IUser AppUser
@inject IOptions<AppSettings> settings

@{
    ViewData["Title"] = "Pedidos";
}

<!-- Início Breadcrumbs -->
<div class="container-flex">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb border shadow-sm p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="text-dark fw-bold text-decoration-underline text-decoration-none" asp-action="Index" asp-controller="Home">Home</a>
            </li>
            <li class="breadcrumb-item active">Pedidos</li>
        </ol>
    </nav>
</div>

<!-- Início Card -->
<div class="card shadow-sm">

    <!-- Início Card Header -->
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h4 class="mb-0 mt-1 col">
                    Pedidos
                    <span>
                        <button type="button" class="btn btn-success btn-sm lh-1 mb-1" data-bs-toggle="modal" data-bs-target="#createOrderModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard2-plus-fill" viewBox="0 0 16 16">
                                <path d="M10 .5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5.5.5 0 0 1-.5.5.5.5 0 0 0-.5.5V2a.5.5 0 0 0 .5.5h5A.5.5 0 0 0 11 2v-.5a.5.5 0 0 0-.5-.5.5.5 0 0 1-.5-.5Z" />
                                <path d="M4.085 1H3.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1h-.585c.055.156.085.325.085.5V2a1.5 1.5 0 0 1-1.5 1.5h-5A1.5 1.5 0 0 1 4 2v-.5c0-.175.03-.344.085-.5ZM8.5 6.5V8H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V9H6a.5.5 0 0 1 0-1h1.5V6.5a.5.5 0 0 1 1 0Z" />
                            </svg>
                        </button>

                        <!-- Model para criação de novo pedido -->
                        <div class="modal fade" id="createOrderModal" tabindex="-1" role="dialog" aria-labelledby="createOrderModal-label" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content rounded-3 shadow">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="createOrderModal-label">Cadastrar Nova Venda</h1>
                                    <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Fechar"></button>
                                </div>
                                <div class="modal-body py-0">
                                    <form id="createOrderForm" class="needs-validation was-validated">
                                        <div class="mb-3">
                                            <label for="createOrderClientId" class="form-label fs-6">CPF/CNPJ do Cliente:</label>
                                            <input type="text" class="form-control" id="createOrderClientId"
                                                   pattern="^\d{11,14}$" placeholder="58267272259" required>
                                            <div class="invalid-feedback form-text fs-6">Você deve informar um CPF/CNPJ válido.</div>
                                        </div>
                                    </form>
                                </div>
                                    <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                                    <button type="submit" class="btn btn-success" onclick="createOrder()">Confirmar</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                </div>
                                </div>
                            </div>
                        </div>
                    </span>
                </h4>
            </div>
        </div>
    </div>

    <!-- Início Card Body -->
    <div class="card-body">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th class="col">
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th class="col">
                        @Html.DisplayNameFor(model => model.ClientId)
                    </th>
                    <th class="col">
                        @Html.DisplayNameFor(model => model.CreatedIn)
                    </th>
                    <th class="col">
                        @Html.DisplayNameFor(model => model.OrderStatus)
                    </th>
                    <th class="col">
                        @Html.DisplayNameFor(model => model.UpdatedIn)
                    </th>
                    <th class="col">
                        @Html.DisplayNameFor(model => model.Value)
                    </th>
                    <th class="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClientId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedIn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdatedIn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Value)
                        </td>
                        <td>
                        <td class="text-end">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle"
                                    type="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
                                        <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z" />
                                        <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z" />
                                    </svg>
                                </button>
                                <ul class="dropdown-menu align-items-center shadow">
                                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#finishOrderModal-@item.Id">Finalizar Pedido</a></li>
                                    <li>@Html.ActionLink("Detalhar/Alterar", "Edit", "Order", new { id = item.Id }, new { @class="dropdown-item" })</li>
                                    <li><hr class="dropdown-divider"/></li>
                                    <li><a class="dropdown-item text-danger" href="#" data-bs-toggle="modal" data-bs-target="#cancelOrderModal-@item.Id">Cancelar Pedido</a></li>
                                </ul>

                                <!-- Model para finalização de pedido -->
                                <div class="modal fade" id="finishOrderModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="finishOrderModal-@item.Id-label" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content rounded-3 shadow">
                                            <div class="modal-header border-bottom-0">
                                                <h1 class="modal-title fs-5" id="finishOrderModal-@item.Id-label">Finalizar Pedido</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                                            </div>
                                            <div class="modal-body text-start">
                                                <p>O pedido será finalizado. Deseja continuar?</p>
                                            </div>
                                            <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                                                <button type="button" class="btn btn-success" onclick="finishOrder('@item.Id')">Confirmar</button>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- Model para cancelamento de pedido -->
                                <div class="modal fade" id="cancelOrderModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="cancelOrderModal-@item.Id-label" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content rounded-3 shadow">
                                            <div class="modal-header border-bottom-0">
                                                <h1 class="modal-title fs-5" id="cancelOrderModal-@item.Id-label">Cancelar Pedido</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                                            </div>
                                            <div class="modal-body text-start">
                                                <p>O pedido será cancelado. Deseja continuar?</p>
                                            </div>
                                            <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                                                <button type="button" class="btn btn-success" onclick="cancelOrder('@item.Id')">Confirmar</button>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        let baseUri = "@settings.Value.ApiUrl";
        let token = "@AppUser.GetUserToken()";

        function createOrder() {
            let clientDocument = $("#createOrderClientId").val();

            $.ajax({
                url: baseUri + "/api/v1/orders/" + clientDocument,
                type: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "Authorization": "Bearer " + token
                },
                data: JSON.stringify(),
                success: function () {
                    alert("Pedido criado com sucesso!");
                    location.reload();
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error(xhr.status + " " + xhr.statusText);
                    alert("Ocorreu um erro ao tentar criar o pedido. Mensagem: " + xhr.responseJSON.errors.Messages[0]);
                }
            });
        }

        function finishOrder(orderId) {
            $.ajax({
                url: baseUri + "/api/v1/orders/" + orderId + "/finish",
                type: "PATCH",
                headers: {
                    "Content-Type": "application/json",
                    "Authorization": "Bearer " + token
                },
                data: JSON.stringify(),
                success: function () {
                    alert("Pedido finalizado com sucesso!");
                    location.reload();
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error(xhr.status + " " + xhr.statusText);
                    alert("Ocorreu um erro ao tentar fechar o pedido. Mensagem: " + xhr.responseJSON.errors.Messages[0]);
                }
            });
        }

        function cancelOrder(orderId) {
            $.ajax({
                url: baseUri + "/api/v1/orders/" + orderId + "/cancel",
                type: "PATCH",
                headers: {
                    "Content-Type": "application/json",
                    "Authorization": "Bearer " + token
                },
                data: JSON.stringify(),
                success: function () {
                    alert("Pedido cancelado com sucesso!");
                    location.reload();
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.error(xhr.status + " " + xhr.statusText);
                    alert("Ocorreu um erro ao tentar cancelar o pedido. Mensagem: " + xhr.responseJSON.errors.Messages[0]);
                }
            });
        }
    </script>
}
