@using SimpleERP.MVC.Extensions;
@model IEnumerable<SimpleERP.MVC.Models.ClientViewModel>
@inject IUser AppUser

@{
    ViewData["Title"] = "Clientes";
}

<br />
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Clientes</li>
    </ol>
</nav>

<h1>Clientes</h1>
<hr />

<div class="row">
    <div class="col">
        <a asp-action="Create" class="btn btn-outline-primary">Novo Cliente</a>
    </div>    
        
    @using (Html.BeginForm("Index", "Client", FormMethod.Get, new { @class = "col-4 text-end" }))
    {
        <div class="input-group">
            @Html.TextBox("id", null, new { @class = "form-control", @placeholder="Id do cliente", @for="clientId"})
            <button class="btn btn-outline-primary" type="submit" id="clientId">Pesquisar</button>
        </div>
    }
</div>

<br />

@if (Model != null)
{
    <table class="table table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CpfCnpj)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CpfCnpj)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <div class="btn-group">
                            @Html.ActionLink("Alterar", "Edit", "Client", new { id = item.Id }, new { @class="btn btn-outline-secondary" })
                            @Html.ActionLink("Excluir", "Delete", "Client", new { id = item.Id } , new { @class="btn btn-danger" })
                        </div>                
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="container justify-content-center">
        <h3>Nenhum cliente cadastrado.</h3>
    </div>
}
